{% extends "_base.html" %} {% block content %}
<section class="login-area pt-140 pb-60" style="margin-top: 10%">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8 text-center">
        <div class="login-content">
          <h3 class="login-content-title">Password reset complete</h3>
          <p>Your password has been set. You may go ahead and log in now.</p>
          <a href="{% url 'login' %}" class="theme-btn mt-20">Log in</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
